<div id="home-login-local-popup"
     data-role="popup"
     class="ui-corner-all">
  <a id="home-login-local-popup-close"
       data-rel="back"
       data-role="button"
       data-theme="a"
       data-icon="delete"
       data-iconpos="notext"
       class="ui-btn-right">
  </a>
  <p>
    <h3>{{data["title"]}}</h3>
    <label for="login-username">Username:</label>
    <input type="text" name="login-username" id="login-username" value="cobweb@cobweb.ed.c.uk">
    <input type="button" id="local-login" value="Login" data-theme="b">
  </p>
</div>
