<li id="<%= id %>">

<div class="ui-grid-b">

    <div class="ui-block-a saved-records-list-synced-<%= annotation.isSynced %>"></div>
    <div class="ui-block-b saved-records-view">
        <a href="#" class="ellipsis"><%= annotation.record.name %></a>
    </div>
    <div class="ui-block-c">
        <a href="#" class="saved-records-delete" data-role="button" data-icon="delete" data-iconpos="notext" data-theme="a"></a>
    </div>

    <div class='record-extra'>

        <% _.each(fields, function(field) { %>

        <%type = records.typeFromId(field.id)%>

        <% if (field.label === "Description") { %>
            <p class='description'><%=field.val%></p>
        <%}%>

        <% if (type === "image") { %>
        <img class="saved-records-view" src="<%=field.val%>" alt="<%=annotation.record.name%>"/>
        <%}%>

        <% if (type === "audio") { %>
        <img id="audio-icon" src="css/images/audiomapmarker.png" alt="<%=annotation.record.name%>"/>
        <%}%>

        <% }); %>


    </div>


</div>
</li>
