/* sync state icon */
#saved-records-list .ui-block-a{
    width: 15% !important;
    height: 3.4em !important;
}

/* record text */
#saved-records-list .ui-block-b{
    width: 65% !important;
}

#saved-records-list .ui-block-b a{
    font-size: 16px;
    font-weight: 900;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    text-decoration: none;
}

.saved-records-list-synced-true{
    background-image: url("images/uploaded.png");
    background-size: 38px 35px;
    background-repeat: no-repeat;
    background-position: 0 3px;
}

.saved-records-list-synced-false{
    background-image: url("images/uploadrecord.png");
    background-size: 38px 35px;
    background-repeat: no-repeat;
    background-position: 0 3px;
}

.saved-records-list-synced-incomplete{
    background-image: url("images/incompleterecord.png");
    background-size: 38px 35px;
    background-repeat: no-repeat;
    background-position: 0 3px;
}

.saved-records-list-syncing{
    background-image: url("images/ajax-loader.gif");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
}

#saved-records-page-header-login-sync.cloud-sync{
  	background-image: url("images/sync.png");
    background-size: 26px 26px;
    background-position: 5px 5px;
    border: #b5c976 solid 1.5px;
}

#saved-records-page-header-login-sync.cloud-login{
    background-image: url("images/login.png");
    background-size: 26px 26px;
    background-position: 8px 4px;
    border: #b5c976 solid 1.5px;
    float: right;
}

#saved-records-page-header-login-sync.cloud-logout{
    background-image: url("images/logout-no-bg.png");
    background-size: 26px 26px;
    background-position: 8px 4px;
    border: #b5c976 solid 1.5px;
    float: right;
}

#saved-records-page-header-upload{
    background-image: url("images/upload.png");
    background-size: 26px 26px;
    background-position: 7px 5px;
    border: #b5c976 solid 1.5px;
}

ul#editors-list > li label{
    float: left;
    margin: 8px 0px;
}

ul#editors-list > li .ui-flipswitch{
    float: right;
}

